<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseImageCapture">
                <span class="glyphicon glyphicon-file">
                </span> Capture Device</a>
            </h4>
        </div>
        <div id="collapseImageCapture" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="capture_device">
                            Capture Device
                            <i class="fa fa-question-circle" data-toggle="popover" title="Image capture device" data-content="Select the category of device you will use. If you plan to use multiple devices for different parts of your project, you will have to estimate image capture time separately for each section of the project."></i>
                        </label>
                        <div class="col-md-8">
                            <select id="capture_device" name="capture_device" class="form-control">
                                <option>Select Your Capture Device</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label  class="col-md-4 control-label" for="scanning_by">Performed By</label>
                        <div class="col-md-8">
                            <select id="scanning_by" class="form-control performed_by">
                                <option>Performed By</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
