<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePostProcessing">
                <span class="glyphicon glyphicon-file">
                </span> Post Processing</a>
            </h4>
        </div>
        <div id="collapsePostProcessing" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="alignment">Alignment/Rotation</label>
                            <input type="number" step="0.01" min="0" max="100" class="form-control" id='alignment_percent' placeholder="% Materials" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="alignment_by">Performed By</label>
                            <select id="alignment_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                {% comment %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="background_removal">Background Removal</label>
                            <input type="number" step="0.01" min="0" max="100" class="form-control" id='background_removal_percent' placeholder="% Materials" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="background_removal_by">Performed By</label>
                            <select id="background_removal_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                {% endcomment %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="clean_up">Clean Up/Dust Removal</label>
                            <input type="number" step="0.01" min="0" max="100" class="form-control" id='clean_up_percent' placeholder="% Materials" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cleanup_by">Performed By</label>
                            <select id="cleanup_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="color_correction_percent">Color Correction and Tonal Adjustments</label>
                            <input type="number" step="0.01" min="0" max="100" class="form-control" id='color_correction_percent' placeholder="% Materials" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="color_correction_by">Performed By</label>
                            <select id="color_correction_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cropping">Cropping Images</label>
                            <input type="number" step="0.01" min="0" max="100" class="form-control" id='cropping_percent' placeholder="% Materials" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cropping_by">Performed By</label>
                            <select id="cropping_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                {% comment %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="stitching">Stitching</label>
                            <input type="number" step="0.01" min="0" max="100" class="form-control" id='stitching' placeholder="% Materials" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="stitching_by">Performed By</label>
                            <select id="stitching_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>
