<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMetadata">
                <span class="fa fa-code">
                </span> Descriptive Metadata Creation</a>
            </h4>
    </div>
    <div id="collapseMetadata" class="panel-collapse collapse">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="descriptive_medatadata" id="descriptive_medatadata1" value="level_1"> Level 1</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="descriptive_medatadata" id="descriptive_medatadata2" value="level_2"> Level 2</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="descriptive_medatadata" id="descriptive_medatadata3" value="level_3"> Level 3</label>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="metadata_percentage"></label>
                        <input type="number" class="form-control" id="metadata_percentage" placeholder="% Materials" />
                    </div>
                    <div class="form-group">
                        <label for="metadata_by">Performed By</label>
                        <select id="metadata_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
