<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePostPreparation">
                <span class="fa fa-folder-open-o">
                </span> Post Preparation</a>
            </h4>
    </div>
    <div id="collapsePostPreparation" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="desorting_percent">Desorting</label>
                        <input type="number" step="0.01" min="0" max="100" class="form-control" id='desorting_percent' placeholder="% Materials" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="desorting_by">Performed By</label>
                        <select id="desorting_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                    </div>
                </div>
            </div>
            {% comment %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rebinding_percent">Rebinding
                        <i class="fa fa-question-circle" data-toggle="popover" title="Rebinding" data-content="The process of re-securing the leaves or sections of a publication to its original bound state or to a preferred preservation binding. '% Materials' is the number of bindings recreated divided by the number of scans (10 bindings over 100 scans = 10%)."></i>
                      </label>
                        <input type="number" step="0.01" min="0" max="100" class="form-control" id='rebinding_percent' placeholder="% Materials" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rebinding_by">Performed By</label>
                        <select id="rebinding_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="refastening_percent">Refastening</label>
                        <input type="number" step="0.01" min="0" max="100" class="form-control" id='refastening_percent' placeholder="% Materials" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="refastening_by">Performed By</label>
                        <select id="refastening_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
