<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePostPreparation">
                <span class="fa fa-folder-open-o">
                </span> Post Preparation</a>
            </h4>
    </div>
    <div id="collapsePostPreparation" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="desorting_percent">Desorting</label>
                        <input type="number" class="form-control" id='desorting_percent' placeholder="% Materials" />
                    </div>

                    <div class="form-group">
                        <label for="rebinding_percent">Rebinding</label>
                        <input type="number" class="form-control" id='rebinding_percent' placeholder="% Materials" />
                    </div>

                    <div class="form-group">
                        <label for="refastening_percent">Refastening</label>
                        <input type="number" class="form-control" id='refastening_percent' placeholder="% Materials" />
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="desorting_by">Performed By</label>
                        <select id="desorting_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="rebinding_by">Performed By</label>
                        <select id="rebinding_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="refastening_by">Performed By</label>
                        <select id="refastening_by" class="form-control performed_by">
                                <option>
                                    Performed By
                                </option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
