<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOther">
                <span class="fa fa-random">
                </span> Other</a>
            </h4>
    </div>
    <div id="collapseOther" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row additional-work">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="additional_work_label[]">Additional Work Label</label>
                        <input type="number" class="form-control" id='additional_work_label[]' placeholder="Label" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="additional_work[]">Additional Work</label>
                        <input type="number" class="form-control" id='additional_work[]' placeholder="% Materials" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="additional_work_time[]">Time per 100 items</label>
                        <input type="number" class="form-control" id='additional_work[]' placeholder="Time in minues" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="custom_by[]">Perfomed By</label>
                        <select class="form-control performed_by" id="custom_by[]">
                            </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success btn-add" type="button">
                            <span class="glyphicon glyphicon-plus"></span> Add Additional Work
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>
