<div class="tab-pane" role="tabpanel" id="complete">
    <h3>Report</h3>
    <p>Based on the information you provided, these are some estimates for your planning</p>

    <table class="table table-strapped">
        <thead>
            <tr>
                <th>
                    Activity
                </th>
                <th>
                    Time (in hours)
                </th>
                <th>
                    Staff Costs
                </th>
                <th>
                    Student Costs
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Digitization
                </td>
                <td>
                    <span class="total-digitization-time">0</span>
                </td>
                <td>
                    <span class="total-staff-digization-cost">0.00</span>
                </td>
                <td>
                    <span class="total-hourly-digization-cost">0.00</span>
                </td>
            </tr>
            <tr>
                <td>
                    Preparation of Materials
                </td>
                <td>
                    <span class="total-preperation-time">0</span>
                </td>
                <td>
                    <span class="total-staff-preperation-cost">0.00</span>
                </td>
                <td>
                    <span class="total-hourly-preperation-cost">0.00</span>
                </td>
            </tr>
            <tr>
                <td>
                    Quality control
                </td>
                <td>
                    <span class="total-quality-control-time">0</span>
                </td>
                <td>
                    <span class="total-quality-control-staff-cost">0.00</span>
                </td>
                <td>
                    <span class="total-quality-control-hourly-cost">0.00</span>
                </td>
            </tr>
            <tr>
                <td>
                    Post Processing
                </td>
                <td>
                    <span class="total-post-processing-time">0</span>
                </td>
                <td>
                    <span class="total-staff-post-processing-cost">0.00</span>
                </td>
                <td>
                    <span class="total-hourly-post-processing-cost">0.00</span>
                </td>
            </tr>
            <tr>
                <td>
                    Metadata Creation
                </td>
                <td>
                    <span class="total-metadata-time">0</span>
                </td>
                <td>
                    <span class="total-metadata-staff-cost">0.00</span>
                </td>
                <td>
                    <span class="total-metadata-hourly-cost">0.00</span>
                </td>
            </tr>
            <tr>
                <td>
                    Post-Preparation
                </td>
                <td>
                    <span class="total-post-preparation-time">0</span>
                </td>
                <td>
                    <span class="total-staff-post-preparation-cost">0.00</span>
                </td>
                <td>
                    <span class="total-hourly-post-processing-cost">0.00</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Total</strong>
                </td>
                <td>
                    <span class="total-time">0</span>
                </td>
                <td>
                    <span class="total-staff-cost">0.00</span>
                </td>
                <td>
                    <span class="total-hourly-cost">0.00</span>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline pull-right">
        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
    </ul>
</div>
