<div class="tab-pane" role="tabpanel" id="step3">
    <h3>Additional Digitization Work</h3>
    <p>Something about this group of work</p>

    <div class="panel-group" id="accordion">
        <!-- preparation of original materials -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="fa fa-comment-o">
                        </span> Preparation of Materials</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="condition_review_percent">Condition Review</label>
                                    <input type="number" class="form-control" id='condition_review_percent' placeholder="% Materials" />
                                </div>

                                <div class="form-group">
                                    <label for="disbinding_percent">Disbinding</label>
                                    <input type="number" class="form-control" id='disbinding_percent' placeholder="% Materials" />
                                </div>

                                <div class="form-group">
                                    <label for="fastener_removal_percent">Fastener Removal</label>
                                    <input type="number" class="form-control" id='fastener_removal_percent' placeholder="% Materials" />
                                </div>

                                <div class="form-group">
                                    <label for="flattening_percent">Flattening</label>
                                    <input type="number" class="form-control" id='flattening_percent' placeholder="% Materials" />
                                </div>

                                <div class="form-group">
                                    <label for="rights_review_percent">Rights Review</label>
                                    <input type="number" class="form-control" id='rights_review_percent' placeholder="% Materials" />
                                </div>

                                <div class="form-group">
                                    <label for="sort_materials_into_items_percent">Sorting Materials Into Items</label>
                                    <input type="number" class="form-control" id='sort_materials_into_items_percent' placeholder="% Materials" />
                                </div>

                                <div class="form-group">
                                    <label for="supporting_percent">Supporting</label>
                                    <input type="number" class="form-control" id='supporting_percent' placeholder="% Materials" />
                                </div>

                                <div class="form-group">
                                    <label for="unique_id_percent">Unique Identifier Assignment</label>
                                    <input type="number" class="form-control" id='unique_id_percent' placeholder="% Materials" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="condition_review_by">Performed By</label>
                                    <select id="condition_review_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="disbinding_by">Performed By</label>
                                    <select id="disbinding_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fastener_removal_by">Performed By</label>
                                    <select id="fastener_removal_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="flattening_by">Performed By</label>
                                    <select id="flattening_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="rights_review_by">Performed By</label>
                                    <select id="rights_review_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="sort_materials_into_items_by">Performed By</label>
                                    <select id="sort_materials_into_items_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="supporting_by">Performed By</label>
                                    <select id="supporting_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="unique_id_by">Performed By</label>
                                    <select id="unique_id_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- quality control -->
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <span class="fa fa-building-o"></span> Quality Control</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="radio">
                                            <label><input type="radio" name="quality_control" value="level_1" checked=""> Level 1</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="quality_control" value="level_2"> Level 2</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="quality_control" value="level_3"> Level 3</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="quality_control_by">Performed By</label>
                                        <select id="quality_control_by" class="form-control performed_by">
                                            <option>
                                                Performed By
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file"></span>
                                Post Processing
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="alignment">Alignment/Rotation</label>
                                        <input type="number" class="form-control" id='alignment' placeholder="% Materials" />
                                    </div>

                                    <div class="form-group">
                                        <label for="background_removal">Background Removal</label>
                                        <input type="number" class="form-control" id='background_removal' placeholder="% Materials" />
                                    </div>

                                    <div class="form-group">
                                        <label for="clean_up">Clean Up/Dust Removal</label>
                                        <input type="number" class="form-control" id='clean_up' placeholder="% Materials" />
                                    </div>

                                    <div class="form-group">
                                        <label for="color_correction">Color Correction and Tonal Adjustments</label>
                                        <input type="number" class="form-control" id='color_correction' placeholder="% Materials" />
                                    </div>

                                    <div class="form-group">
                                        <label for="cropping">Cropping Images</label>
                                        <input type="number" class="form-control" id='cropping' placeholder="% Materials" />
                                    </div>

                                    <div class="form-group">
                                        <label for="stitching">Stitching</label>
                                        <input type="number" class="form-control" id='stitching' placeholder="% Materials" />
                                    </div>

                                    <!-- <div class="form-group">
                                    <label for="grantparent">Grant# (Parent)</label>
                                    <select class="form-control" id="grantparent">
                                    <option></option>
                                    <option>Data1772457</option>
                                    <option>Data4516</option>
                                    <option>Data24572457</option>
                                </select>
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="alignment_by">Performed By</label>
                                <select id="alignment_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="background_removal_by">Performed By</label>
                                <select id="background_removal_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cleanup_by">Performed By</label>
                                <select id="cleanup_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="color_correction_by">Performed By</label>
                                <select id="color_correction_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="cropping_by">Performed By</label>
                                <select id="cropping_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="stitching_by">Performed By</label>
                                <select id="stitching_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span class="fa fa-code">
                        </span> Descriptive Metadata Creation</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="radio">
                                        <label><input type="radio" name="descriptive_medatadata" id="descriptive_medatadata1" value="level_1" checked=""> Level 1</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="descriptive_medatadata" id="descriptive_medatadata2" value="level_2"> Level 2</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="descriptive_medatadata" id="descriptive_medatadata3" value="level_3"> Level 3</label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="metadata_by">Performed By</label>
                                    <select id="metadata_by" class="form-control performed_by">
                                        <option>
                                            Performed By
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="well well-sm well-primary">
                                <label for="grantor">Grantor</label>
                                <select class="form-control" id="grantor">
                                <option>Data1772457</option>
                                <option>Data4516</option>
                                <option>Data24572457</option>
                            </select>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>  
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    <span class="fa fa-folder-open-o">
                    </span> Post-Preparation</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="desorting_percent">Desorting</label>
                                <input type="number" class="form-control" id='desorting_percent' placeholder="% Materials" />
                            </div>

                            <div class="form-group">
                                <label for="rebinding_percent">Rebinding</label>
                                <input type="number" class="form-control" id='rebinding_percent' placeholder="% Materials" />
                            </div>

                            <div class="form-group">
                                <label for="refastening_percent">Refastening</label>
                                <input type="number" class="form-control" id='refastening_percent' placeholder="% Materials" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="desorting_by">Performed By</label>
                                <select id="desorting_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="rebinding_by">Performed By</label>
                                <select id="rebinding_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="refastening_by">Performed By</label>
                                <select id="refastening_by" class="form-control performed_by">
                                    <option>
                                        Performed By
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        <span class="fa fa-random">
                        </span> Other</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row additional-work">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="additional_work[]">Additional Work</label>
                                    <input type="number" class="form-control" id='additional_work[]' placeholder="% Materials" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="additional_work_time[]">Time per 100 items</label>
                                    <input type="number" class="form-control" id='additional_work[]' placeholder="Time in minues" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="custom_by[]">Perfomed By</label>
                                    <select class="form-control performed_by" id="custom_by[]">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-success btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span> Add Additional Work
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <ul class="list-inline pull-right">
            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
            <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
        </ul>
    </div>
