<div class="tab-pane active" role="tabpanel" id="step1">

    <fieldset>
        <legend>
          Digitization Cost Calculator
        </legend>
        <p>Welcome to the Digitization Cost Calculator. Please begin by entering the number of scans (or images captured) for which you need to estimate costs and time. In the next step you will enter staffing data. In step three you will identify the processes for which you'd like time estimates, as well as which level of staff are performing each process so that costs can be estimated. This calculator does not store or share any data that you enter. Calculations are based on contributed community data. See the raw data <a href="http://staging.dashboard.diglib.org/data/">here</a>. Contribute your own data <a href="http://staging.dashboard.diglib.org/contribute/">here</a>.</p>

        <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="extent">
            Number of scans
            <i class="fa fa-question-circle" data-toggle="popover" title="Number of scans" data-content="The number of scans (or images captured) for which you need to estimate costs and time. If you are only using the calculator for activities in the materials preparation phase, please use an estimate of the number of scans that would be produced if these materials were to be digitized."></i>
          </label>
            <div class="col-md-8">
                <input type="text" class="form-control input-md" id="extent" required="required" placeholder="Number of scans">
            </div>
        </div>

        <!-- <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="capture_device">
                Image capture device
                <i class="fa fa-question-circle" data-toggle="popover" title="Image capture device" data-content="Select the category of device you will use. If you plan to use multiple devices for different parts of your project, you will have to estimate image capture time separately for each section of the project."></i>
            </label>
            <div class="col-md-8">
                <select id="capture_device" name="capture_device" class="form-control">
                <option>Select the image capture device category</option>
            </select>
            </div>
        </div> -->
    </fieldset>

    <!-- <section id="image_capture">
        <h2>Image Capture</h2>
        <p>
            What type of capture device will you be using?
        </p>
        <div class="form-group">
            <label for="capture_device">Capture Device</label>
            <select name="capture_device" class="form-control">
              <option>Select</option>
        </div>
    </section> -->


    <ul class="list-inline pull-right">
        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
    </ul>
</div>
