<div class="tab-pane" role="tabpanel" id="step2">
    <h3>Staffing</h3>
    <p>Enter information below about staffing categories or staff members who will be performing parts of the digitization project. On the following page, you'll be able to assign a different staff person to each process before cost calculations are performed by the calculator. The data you enter about staff is not saved, shared, or transmitted, though it will be retained in this browser window until you close it (allowing you to modify your calculator query during this session without re-entering staffing data each time). The "Name" field is only used to populate the dropdown list on the following page used to assign people to tasks -- you may use real names, or any other label (e.g., "Technician 1, Salaried #2").</p>
    {% include people_form.html %}

{% comment %}
    <fieldset>
        <legend>
            Project Staff
        </legend>
        <section id="people">
            <div class="container">
                <div class="person" data-id="0">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control staff_name input-lg" name="name[]" placeholder="Name/label" required="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select class="type form-control" name="type[]">
                                <option>Staff Type</option>
                                <option value="salaried">Salaried</option>
                                <option value="hourly">Hourly</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="number" min="0" step="0.01" class="rate form-control input-lg" name="rate[]" placeholder="Salary/Hourly Rate" required="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="number" step="0.01" min="0" max="100" class="benefits form-control input-lg" name="benefits[]" placeholder="Benefits %" required="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-success btn-add" type="button">
                        <span class="glyphicon glyphicon-plus"></span> Add Staff
                    </button>
                    </div>
                </div>
            </div>
        </section>

    </fieldset>
{% endcomment %}
    <ul class="list-inline pull-right">
        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
    </ul>

</div>
