<div class="tab-pane" role="tabpanel" id="step3">
    <h3>Additional Digitization Work</h3>
    <p>Something about this group of work</p>

    <div class="panel-group" id="accordion">
        {% include _wizard/00-image_capture.html %}
        {% include _wizard/01-preparation-of-materials.html %}
        {% include _wizard/02-quality-control.html %}
        {% include _wizard/03-post-processing.html %}
        {% include _wizard/04-descriptive-metadata.html %}
        {% include _wizard/05-post-preparation.html %}
        {% include _wizard/06-other.html %}
    </div>

    <ul class="list-inline pull-right">
        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
        <li><button type="button" class="btn btn-default next-step">Skip</button></li>
        <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
    </ul>
</div>
