<footer class="bg-gray">

    <div class="container" role="contentinfo">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h5>Contact</h5>
                <address>
                    CLIR+DLF<br>
                    2221 South Clark St.<br>
                    Arlington, VA 22201<br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:info(at)diglib(dot)org">info at diglib dot org</a>
                </address>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Elsewhere</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://twitter.com/clirdlf">
                            <i class="fa fa-twitter twitter" aria-hidden="true"></i>
                            @clirdlf</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/CLIRDLF/">
                            <i class="fa fa-facebook rss" aria-hidden="true"></i>
                            Facebook</a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/groups?mostPopular=&gid=3387265">
                            <i class="fa fa-linkedin linkedin" aria-hidden="true"></i>
                            LinkedIn</a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/user/DLFCLIR">
                            <i class="fa fa-youtube youtube" aria-hidden="true"></i>
                            Youtube</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Upcoming Events</h5>
                <div id="calendar">
                    <ul class="list-unstyled" id="upcoming-events"></ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5><i class="logo icon-dlf-logo dlf-color"></i>About the Project</h5>
                <p>
                    The Digitization Cost Calculator collects and make freely available a large set of data on the time it takes to perform various tasks involved in the digitization process, in order to assist organizations in digitization project planning and benchmarking. 
                </p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-alt">
                    <p class="pull-right">
                        All content on this site is available for re-use under
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0 License</a>.
                    </p>
                    <p class="logo">
                        <a href="https://www.diglib.org/">
                            <i class="icon-dlf-logo dlf-color"></i>
                            <span class="dlf dlf-font">DLF</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container">
    <div class="col-md-12">
        <div class="footer-alt">
            <p class="pull-right">
                <p class="logo"></p>
            </div>
        </div>
    </div>
</footer>
