@import "vars";

.bg-gray {
  background: #eef2f5;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #e9e9e9;
}

footer {

  padding-top: 25px;
  margin-top: 15px;

  h5 {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  a {
    color: #97a0af;
		// color: #00040c;
    &:hover {
      color: $link_color;
    }
  }
  ul li {
    margin: 5px 0;
  }
  .footer-alt {
    border-top: 1px solid rgba(151, 160, 175, 0.2);
    margin-top: 30px;
    padding-top: 20px;

    .logo {
      color: #97a0af !important;
      margin-bottom: 0;
      i {
        margin-right: 5px;
      }
    }
  }

  .twitter  { color: $twitter-blue; }
  .linkedin { color: $linkedin-blue; }
  .rss      { color: $rss-orange; }
  .youtube  { color: $youtube-red; }
}
