@import 'https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans';
@import 'https://cdn.rawgit.com/clirdlf/logo-fonts/master/style.min.css';
@import 'https://cdn.rawgit.com/clirdlf/logo-fonts/master/clir-font/stylesheet.min.css';

$anchor_color: #337ab7;
$link_color: $anchor_color;

$clir-burgundy: #560319;
$dlf-blue:      #046BA5;
$ndsa-blue:     #0165AE;
$hc-blue:       darken($dlf-blue, 15%);
$dlf-blue:      #236DA3;
$twitter-blue:  #4099FF;
$linkedin-blue: #0177B5;
$rss-orange:    #F17330;
$youtube-red:   #D83232;
