@charset 'utf-8';

// $spacing-unit: 30px;

// @import "tabs";
// @import "form";
@import "vars";
@import "footer";
@import "wizard";

// make markup simpler with no anchors
.fa-question-circle {
  cursor: pointer;
  color: $anchor_color;

  &:hover {
    color: darken($anchor_color, 20%);
    transition: all 0.5s ease;
  }
}

.dlf-font   { font-family: 'Crimson Text', serif; }
.dlf-color  { color: $dlf-blue; }

.logo {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
